*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footer, .credits{
    background-color: hsl(0deg 43.17% 35.88%);
    font-family: sans-serif;
    letter-spacing: 1px;
}

.footer{
    height: 23vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: center;
}

.footer-links{
    display: flex;
    list-style: none;
}

.footlink{
    text-decoration: none;
    margin-right: 1rem;
    color: black;
    font-weight: 700;
}

.footlink:hover{
    color: darkgray;
    transition: 0.8s ease;
}

.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
}

.links{
    display: flex;
    padding: 0 1rem;
    font-size: 2rem;
}

.github{
    color: black;
}

.instagram{
    color: #d62976;
  }

.linkedin{
    color: #0A66C2;
}

.icon-text{
    font-weight: 400;
    font-family: cursive;
}

.credits{
    font-weight: 600;
}

.copyright,.developed{
    text-align: center;
    font-size: 1rem;
}

.developed{
    padding-bottom: 0.8rem;
}

@media all and (max-width:1026px){
    .footer{
        height: 20vh;
    }
}

@media all and (max-width:820px){
    .footer{
        height: 23vh;
    }
    .footer-links{
        display: block;   
    }  
}

@media all and (max-width:650px){
    .footer{
        height: 30vh;
    }
}

@media all and (max-width:435px){
    .social-media{
        margin: 1rem 1rem 0 1rem;
        padding-bottom: 2.5rem;
    }
    .icon-text{
        font-size: 18px;
    }
    .footer{
        height: 26vh;
    }
    .footer-links{
       margin-top: 1rem;
       display: flex;
    }
    .copyright,.developed{
        font-size: 0.8rem;
    }
}

@media all and (max-width:363px){
    .icon-text{
        padding-left: 10px;
    }
    .footer-links{
        display: flex;
    }
    .footer{
        height: 25vh;
    }
    .footlink{
        font-size: 0.9rem;
    }
    .social-media{
        margin: 0rem 1rem 0 1rem;
        padding-bottom: 1.5rem;
    }
}

@media all and (max-width:300px){
    .footer{
        height: 20vh;
    }
    .footlink{
        margin-right: 0.5rem;
        font-size: 0.6rem;
    }
    .links{
        padding: 0 0.5rem;
    }
    .icon-text{
        font-size: 13px;
    }
    .links{
        font-size: 1.5rem;
    }
    .copyright,.developed{
        font-size: 0.6rem;
    }
}

@media all and (max-width:240px){
    .icon-text{
        font-size: 0;
    }
    .footer, .credit{
        overflow: hidden;
    }
}