*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contact-container{
    padding-bottom: 2.5rem;
    border-bottom: 1px solid hsl(0deg 43.17% 35.88%);
}

.title-contact{
    font-size: 1.9rem;
    color: white;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    padding-bottom: 2.5rem;
}

.form{
    color: white !important;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    gap: 25px;
}

.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-color: darkgray; /* Change the border color */
  }

.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: white !important;
  }

.MuiInputLabel-outlined {
    color: darkgray !important; /* Label color */
}

.MuiOutlinedInput-input {
    color: white !important;
  }

.button{
    background-color: hsl(0deg 43.17% 35.88%) !important;
}

@media (max-width: 650px){
    .form{
        max-width: 400px;
    }
    .title-contact{
        font-size: 1.5rem;
    }
}

@media (max-width: 525px){
    .form{
        max-width: 350px;
    }
}

@media (max-width: 420px){
    .form{
        max-width: 300px;
    }
}

@media (max-width: 300px){
    .form{
        max-width: 250px;
    }
}